{% for name in node.get_all_imports() %}
{{ name }}
{% endfor %}


{% if not node.is_root() %}
@click.group()
def {{ node.name }}():
    pass
{% endif %}


{% for method, endpoint in node.get_endpoints() %}
@{{ node.name }}.command()
    {% for content in node.get_fw_arguments(endpoint) %}
@click.argument({{ content }})
    {% endfor %}
    {% for content in node.get_fw_options(endpoint) %}
@click.option({{ content }})
    {% endfor %}
@pass_api
def {{ method }}(
api: APIRequest,
    {% for arg in node.get_function_arguments(endpoint) %}
{{ arg }},
    {% endfor %}
):
    """{{ endpoint.summary }}"""

    {% if endpoint.form_body_class %}
    # TODO: form_body_class
    {% if endpoint.form_body_class.required %}
    # TODO: required
    {% endif %}
    {% endif %}

    {% for call in node.get_fw_cls_creation(endpoint) %}
    {{ call | indent(4) }}
    {% endfor %}

    response = {{ node.name }}_{{ method }}(
    {% for arg in node.get_api_call_arguments(endpoint) %}
    {{ arg }} = {{ arg }},
    {% endfor %}
    client=api.{{ 'authenticated_client' if endpoint.requires_security else 'client' }},
    )
    api.handle_response(response)

{% endfor %}


{% for name in node.keys() | sort %}
{% set node_name = 'cli' if node.is_root() else node.name %}
{{ node_name }}.add_command({{ name }})
{% endfor %}